{
  "hive": {
    "host": <host>,
    "port": <port>,
    "database": <database>,
    "username": <username>,
    "auth": "KERBEROS",
    "kerberos_service_name": "hive"
  },
  "mysql": {
    "host": <host>,
    "database": <db>,
    "table": <table>
    "user": <user>,
    "password": <password>
  }
}